.container {
  width: 80vw;
}
tr {
  border-bottom: 0.1rem solid #e1e1e1;
}
@media (min-width: 1px) {
  thead tr,
  tbody tr {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 5rem minmax(20ch, 30ch) minmax(15ch, 30ch) minmax(14ch,20ch) minmax(30ch, 50ch) minmax(30ch, 40ch) minmax(10ch, 15ch);
    grid-template-rows: auto;
  }
}
table {
  margin: 0 auto;
  width: 80vw;
}

td,
th {
  border-bottom: none !important;
}

.profile-pic {
  border-radius: 50%;
  height: 4rem;
  width: auto;
}

@media (max-width: 1000px) {
  thead tr,
  tbody tr {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      '. . profile profile . .'
      '. name name username username .'
      '. . birthday birthday . . '
      '. address address address address .'
      '. cell cell email email .';
  }
  tbody tr *:nth-child(1) {
    grid-area: profile;
  }

  tbody tr *:nth-child(2) {
    grid-area: name;
  }

  tbody tr *:nth-child(3) {
    grid-area: username;
  }

  tbody tr *:nth-child(4) {
    grid-area: cell;
  }

  tbody tr *:nth-child(5) {
    grid-area: email;
  }

  tbody tr *:nth-child(6) {
    grid-area: address;
  }

  tbody tr *:nth-child(7) {
    grid-area: birthday;
  }
}
